In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
from Bio import SeqIO

In [28]:
fasta_file = 'BP_deepred_training_sequences.fasta'
fasta_path = './DEEPred-master/FastaFiles/deeppred/'

col_ids = []
col_seqs = []
for seq_record in SeqIO.parse(fasta_path + fasta_file, "fasta"):
    col_ids.append(seq_record.id)
    col_seqs.append(str(seq_record.seq))
cols = {'id': col_ids, 'seq': col_seqs}

In [29]:
df = pd.DataFrame(data=cols)

In [30]:
df.to_csv('BP_deepred_training_sequences.csv', index=False)

In [31]:
len(df)

45873

In [32]:
col_ids = []
col_seqs = []
for file_name in glob.glob('**/*.fasta', recursive=True):
    print(file_name)
    for seq_record in SeqIO.parse(file_name, "fasta"):
        col_ids.append(seq_record.id)
        col_seqs.append(str(seq_record.seq))
cols = {'id': col_ids, 'seq': col_seqs}

DEEPred-master/FastaFiles/deeppred/BP_deepred_training_sequences.fasta
DEEPred-master/FastaFiles/deeppred/CC_deepred_training_sequences.fasta
DEEPred-master/FastaFiles/deeppred/MF_deepred_training_sequences.fasta
DEEPred-master/FastaFiles/cafa/mfo_cafa_only_annot_prot.fasta
DEEPred-master/FastaFiles/cafa/cco_cafa_only_annot_prot.fasta
DEEPred-master/FastaFiles/cafa/bpo_cafa_only_annot_prot.fasta

In [33]:
df = pd.DataFrame(data=cols)

In [35]:
df.sample(5)

                         id                                                seq
81297  sp|Q9SJB3|PMA5_ARATH  MSELDHIKNESVDLVRIPMEEVFEELKCTKQGLTANEASHRLDVFG...
24522  sp|P53035|MIG2_YEAST  MPKKQTNFPVDNENRPFRCDTCHRGFHRLEHKKRHLRTHTGEKPHH...
90052  sp|P00514|KAP0_BOVIN  MASGTTASEEERSLRECELYVQKHNIQALLKDSIVQLCTARPERPM...
55170   sp|Q556J0|TKT_DICDI  MSNIDFKALERAANETRGLSMDAVAKAASGHLGLPLGSAEIGAALF...
23515  sp|Q09728|CUF1_SCHPO  MVVINNVKMACMKCIRGHRSSTCKHNDRELFPIRPKGRPISQCEKC...

In [36]:
df.to_csv('./bp_deepred/combined.csv', index=False)

In [8]:
df = pd.DataFrame({'a':[1,2], 'b' : [3, None], 'c' : [5,6]})

In [9]:
df

   a    b  c
0  1  3.0  5
1  2  NaN  6

In [17]:
df.isna()

       a      b      c
0  False  False  False
1  False   True  False

In [19]:
df = df.dropna()

In [20]:
df

   a    b  c
0  1  3.0  5

In [ ]:
'../data/proteinnet/proteinnet12.csv'