In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
from Bio import SeqIO

In [106]:
fasta_file = 'uniprot_sprot_exp.fasta'
fasta_path = './data/cafa3/'

col_ids = []
col_seqs = []
for seq_record in SeqIO.parse(fasta_path + fasta_file, "fasta"):
    col_ids.append(seq_record.id)
    col_seqs.append(str(seq_record.seq))
cols = {'accession': col_ids, 'seq': col_seqs}

In [107]:
df = pd.DataFrame(data=cols)

In [31]:
df.to_csv('./data/cafa3/uniprot_sprot_exp.csv', index=False)

In [108]:
len(df)

66841

In [118]:
df.sample(5)

      accession                                                seq
50055    Q8WUK0  MAATALLEAGLARVLFYPTLLYTLFRGKVPGRAHRDWYHRIDPTVL...
60211    Q9P2N6  MAHRGGERDFQTSARRMGTSLLFQLSVHERELDLVFLDHSYAKPWS...
40209    Q5VZV1  MDVCLSSAQQPGRRGEGLSSPGGWLEAEKKGAPQKDSTGGVLEESN...
33168    Q09673  MQVLKEKLLIHQQVDNWRKDGNRIAFVPTMGNLHEGHFSLVREAKR...
1964     F4IG09  MAIAFHTFLLQLLLFFFASFAEANDSRKTYLVQMKVGGHRYGSSSG...

In [119]:
df.set_index('accession', inplace=True);

In [120]:
df.sample(5)

                                                         seq
accession
Q9TW32     MKVIFVVLAIVLVTLWAMPSEAGKDPKITNKVFFDIEIDNKPAGRI...
Q91YD4     MESLDRRRTGSEQEEGFGVQSRRATDLGMVPNLRRSNSSLCKSRRF...
Q9M0Y6     MYILDTGARFSAVRFSPVFNPPPTSLRRRYFIVRANLPFPKHQAKY...
P0AF40     MKQANQDRGTLLLALVAGLSINGTFAALFSSIVPFSVFPIISLVLT...
Q12555     MANTPHGGVLKDLIARDAPRHDQLEAEAATLPSIVLTERQLCDLEL...

In [19]:
go_file = 'uniprot_sprot_exp.txt'
go_path = './data/cafa3/'

df_go = pd.read_csv(go_path + go_file, delimiter='\t', header=None, names=['accession', 'GO', 'domain']);

In [20]:
len(df_go)

386197

In [21]:
df_go.sample(5)

       accession          GO domain
370292    P30628  GO:0016471      C
184043    P06151  GO:0019661      P
82597     Q61462  GO:0043020      C
128028    P30553  GO:0090274      P
301137    P59158  GO:0005829      C

In [25]:
df_go.set_index('accession', inplace=True);

In [26]:
df_go.sample(5)

                   GO domain
accession
P35439     GO:0019899      F
P63259     GO:0034332      P
Q9XF91     GO:0016020      C
Q6NVG5     GO:0032402      P
Q9Y2P4     GO:0004467      F

In [116]:
df_go.loc['P48347']

                   GO domain
accession
P48347     GO:0005829      C
P48347     GO:0005739      C
P48347     GO:0005886      C
P48347     GO:0009506      C
P48347     GO:0005524      F
P48347     GO:0009742      P
P48347     GO:0009737      P

In [103]:
# df for all
for accession in df.index:
    go_ids = df_go.loc[accession]
    if type(go_ids['GO']) is str:
        labels = go_ids['GO']
    else:
        labels = ' '.join(str(x) for x in go_ids['GO'].values)
    df.loc[accession, 'labels'] = labels

In [ ]:
df.sample(2)

In [105]:
df.to_csv('./data/cafa3/uniprot_sprot_exp_go_all.csv', index=False)

In [111]:
df.sample(2)

      accession                                                seq
21481    P40106  MGLTTKPLSLKVNAALFDVDGTIIISQPAIAAFWRDFGKDKPYFDA...
53935    Q9BZK7  MSISSDEVNFLVYRYLQESGFSHSAFTFGIESHISQSNINGALVPP...

In [135]:
# DF for Domain F
df_F = pd.DataFrame(data=cols)
df_F.set_index('accession', inplace=True);

In [156]:
j = 0
for accession in df_F.index:
    j += 1
    if j % 1000 == 0:
        print(j)
    cur_accession = df_go.loc[accession]
    go_ids = cur_accession[df_go.loc[accession, 'domain'] == 'F']
    
    if isinstance(cur_accession, pd.DataFrame):
        if go_ids.empty:
            continue
        if type(go_ids['GO']) is str:
            labels = go_ids['GO']
        else:
            labels = ' '.join(str(x) for x in go_ids['GO'].values)
    else:
        labels = cur_accession['GO']
    df_F.loc[accession, 'labels'] = labels

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000

In [168]:
# filter empty labels
df_F = df_F[df_F['labels'].notnull()]

In [169]:
df_F.to_csv('./data/cafa3/uniprot_sprot_exp_go_F.csv', index=False)

In [157]:
# DF for Domain P
df_P = pd.DataFrame(data=cols)
df_P.set_index('accession', inplace=True);

In [158]:
j = 0
for accession in df_P.index:
    j += 1
    if j % 1000 == 0:
        print(j)
    cur_accession = df_go.loc[accession]
    go_ids = cur_accession[df_go.loc[accession, 'domain'] == 'P']
    
    if isinstance(cur_accession, pd.DataFrame):
        if go_ids.empty:
            continue
        if type(go_ids['GO']) is str:
            labels = go_ids['GO']
        else:
            labels = ' '.join(str(x) for x in go_ids['GO'].values)
    else:
        labels = cur_accession['GO']
    df_P.loc[accession, 'labels'] = labels

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000

In [170]:
# filter empty labels
df_P = df_P[df_P['labels'].notnull()]

In [171]:
df_P.to_csv('./data/cafa3/uniprot_sprot_exp_go_P.csv', index=False)

In [159]:
# DF for Domain C
df_C = pd.DataFrame(data=cols)
df_C.set_index('accession', inplace=True);

In [160]:
j = 0
for accession in df_C.index:
    j += 1
    if j % 1000 == 0:
        print(j)
    cur_accession = df_go.loc[accession]
    go_ids = cur_accession[df_go.loc[accession, 'domain'] == 'C']
    
    if isinstance(cur_accession, pd.DataFrame):
        if go_ids.empty:
            continue
        if type(go_ids['GO']) is str:
            labels = go_ids['GO']
        else:
            labels = ' '.join(str(x) for x in go_ids['GO'].values)
    else:
        labels = cur_accession['GO']
    df_C.loc[accession, 'labels'] = labels

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000

In [172]:
# filter empty labels
df_C = df_C[df_C['labels'].notnull()]

In [173]:
df_C.to_csv('./data/cafa3/uniprot_sprot_exp_go_C.csv', index=False)