In [102]:
import pandas as pd
import pickle
from Bio import SeqIO

In [499]:
df = pickle.load(open('./py/sproat_parser_df_sp.p', 'rb'))

In [500]:
len(df)

553474

In [501]:
df.sample()

,accessions,annotation_update,comments,created,cross_references,data_class,description,entry_name,features,gene_name,...,organelle,organism,organism_classification,protein_existence,references,seqinfo,sequence,sequence_length,sequence_update,taxonomy_id
211966,[Q92A28],"(02-NOV-2016, 87)",[FUNCTION: Catalyzes the condensation of the a...,"(26-JUL-2002, 0)","[(EMBL, AL596171, CAC97324.1, -, Genomic_DNA),...",Reviewed,RecName: Full=2-isopropylmalate synthase {ECO:...,LEU1_LISIN,"[(CHAIN, 1, 512, 2-isopropylmalate synthase., ...",Name=leuA {ECO:0000255|HAMAP-Rule:MF_01025}; O...,...,,Listeria innocua serovar 6a (strain ATCC BAA-6...,"[Bacteria, Firmicutes, Bacilli, Bacillales, Li...",3,[<Bio.SwissProt.Reference object at 0x7fbf3b68...,"(512, 56149, 23836636815EC7E2)",MKKIQFFDTTLRDGEQTPGVNFDVKEKIQIALQLEKLGIDVIEAGF...,512,"(01-DEC-2001, 1)",[272626]

In [ ]:
# from dask.distributed import Client, progress
# client = Client(n_workers=20, threads_per_worker=2, memory_limit='10GB')
# client

In [ ]:
# import dask
# import dask.dataframe as dd

In [ ]:
# df_10 = df[:10]
# df_10['primary_accession'] = df_10.apply(lambda x: x.accessions[0], axis=1)

In [504]:
df['primary_accession'] = df.apply(lambda row: row.accessions[0], axis=1)
df.sample()

,accessions,annotation_update,comments,created,cross_references,data_class,description,entry_name,features,gene_name,...,organism,organism_classification,protein_existence,references,seqinfo,sequence,sequence_length,sequence_update,taxonomy_id,primary_accession
414134,[B9K8D3],"(02-NOV-2016, 41)",[SIMILARITY: Belongs to the ribosomal protein ...,"(28-JUL-2009, 0)","[(EMBL, CP000916, ACM23216.1, -, Genomic_DNA),...",Reviewed,RecName: Full=30S ribosomal protein S9 {ECO:00...,RS9_THENN,"[(CHAIN, 1, 134, 30S ribosomal protein S9., PR...",Name=rpsI {ECO:0000255|HAMAP-Rule:MF_00532}; O...,...,Thermotoga neapolitana (strain ATCC 49049 / DS...,"[Bacteria, Thermotogae, Thermotogales, Thermot...",3,[<Bio.SwissProt.Reference object at 0x7fbf0c30...,"(134, 15129, 6831A4DB6283AB87)",MASVIGYYGTGRRKTAVARVYLRPGDGKVKVNGKEYESLNDYFKNI...,134,"(24-MAR-2009, 1)",[309803],B9K8D3

In [521]:
df.set_index('primary_accession', inplace=True)

In [522]:
df.sample()

,accessions,annotation_update,comments,created,cross_references,data_class,description,entry_name,features,gene_name,...,organelle,organism,organism_classification,protein_existence,references,seqinfo,sequence,sequence_length,sequence_update,taxonomy_id
primary_accession,,,,,,,,,,,,,,,,,,,,,
Q9EUT5,[Q9EUT5],"(05-OCT-2016, 53)","[FUNCTION: Synthesizes alpha-1,4-glucan chains...","(16-NOV-2001, 0)","[(EMBL, AJ291603, CAC17472.1, -, Genomic_DNA),...",Reviewed,RecName: Full=Glycogen synthase {ECO:0000255|H...,GLGA_RHITR,"[(CHAIN, 1, 480, Glycogen synthase., PRO_00001...",Name=glgA {ECO:0000255|HAMAP-Rule:MF_00484};,...,,Rhizobium tropici.,"[Bacteria, Proteobacteria, Alphaproteobacteria...",3,[<Bio.SwissProt.Reference object at 0x7fbf47c6...,"(480, 51646, 93405DB405663B26)",MKVLSVSSEVFPLIKTGGLADVVGALPIALKPYGVETKTLIPGYPA...,480,"(01-MAR-2001, 1)",[398]

In [99]:
def find_go(row):
    for x in row:
        if x[0] == 'GO' and 'IEA' not in x[3]: 
            return True
    return False

res = df[df['cross_references'].apply(find_go)]

In [100]:
len(res)

116775

In [109]:
fasta_file = 'uniprot_sprot_exp.fasta'
fasta_path = '../data/cafa3/CAFA 3 Protein Targets/CAFA3_training_data/'

col_ids = []
col_seqs = []
for seq_record in SeqIO.parse(fasta_path + fasta_file, "fasta"):
    col_ids.append(seq_record.id)
    col_seqs.append(str(seq_record.seq))
cols = {'accession': col_ids, 'seq': col_seqs}
df_cafa_train = pd.DataFrame(data=cols)
df_cafa_train.set_index('accession', inplace=True);

In [110]:
df_cafa_train.head()

                                                          seq
accession
A0A060X6Z0  MPISSSSSSSTKSMRRAASELERSDSVTSPRFIGRRQSLIEDARKE...
A0A068FIK2  MEVGGGSEECCVKVAVHVRPLIGDEKVQGCKDCVTVIPGKPQVQIG...
A0A075F932  MVSESHHEALAAPPATTVAAAPPSNVTEPASPGGGGGKEDAFSKLK...
A0A078CGE6  MARQMTSSQFHKSKTLDNKYMLGDEIGKGAYGRVYIGLDLENGDFV...
A0A086F3E3  MTKGRLEAFSDGVLAIIITIMVLELKVPEGSSWASLQPILPRFLAY...

In [111]:
go_file = 'uniprot_sprot_exp.txt'
go_path = '../data/cafa3/CAFA 3 Protein Targets/CAFA3_training_data/'

df_go = pd.read_csv(go_path + go_file, delimiter='\t', header=None, names=['accession', 'GO', 'domain']);
df_go.set_index('accession', inplace=True);

In [113]:
df_go.head()

                   GO domain
accession
P0DJZ0     GO:0030430      C
P32234     GO:0005525      F
P83011     GO:0043231      C
P83010     GO:0043231      C
P81928     GO:0007275      P

In [363]:
df_go_10 = df_go[:1000000]
def get_evidence(row):
    try:
        sprot_row = df.loc[row.name, 'cross_references']
    except:
        sprot_row = []
    if len(sprot_row) > 0:
        for ref in sprot_row:
            if ref[0] == 'GO' and ref[1] == row.GO: 
                return ref[3]
    return None
applied = df_go_10.apply(get_evidence, axis=1)
df_go_not_found_in_sprot = df_go_10[applied.isnull()];
len(df_go_not_found_in_sprot)

2914

In [375]:
applied.head()

accession
P0DJZ0    IDA:UniProtKB
P32234      IDA:FlyBase
P83011    IDA:UniProtKB
P83010    IDA:UniProtKB
P81928    IMP:UniProtKB
dtype: object

In [403]:
evidences = {x.split(':')[0] for x in applied.groupby(applied).count().index};

{'EXP',
 'IBA',
 'IC',
 'IDA',
 'IEA',
 'IEP',
 'IGI',
 'IMP',
 'IPI',
 'ISA',
 'ISO',
 'ISS',
 'NAS',
 'TAS'}

In [451]:
len(evidences)

13

In [ ]:
evidences.remove('IEA');

In [435]:
def getbyEvidence(row):
    for ref in row.cross_references:
        if ref[0] == 'GO' and ref[3].split(':')[0] in evidences:
            return True
    return False
evidence_series = df.apply(getbyEvidence, axis=1)

In [436]:
len(df[evidence_series])

116693

In [437]:
def func(row):
    return len(row.accessions)
df_acc_len = df.apply(func, axis=1);

In [438]:
df[df_acc_len == 128]

,accessions,annotation_update,comments,created,cross_references,data_class,description,entry_name,features,gene_name,...,organelle,organism,organism_classification,protein_existence,references,seqinfo,sequence,sequence_length,sequence_update,taxonomy_id
primary_accession,,,,,,,,,,,,,,,,,,,,,
Q29983,"[Q29983, A8KQR0, A9LRW5, A9QVE0, B1VJF1, O6091...","(02-NOV-2016, 141)",[FUNCTION: Seems to have no role in antigen pr...,"(20-MAY-2008, 0)","[(EMBL, L14848, AAA21718.1, -, mRNA), (EMBL, X...",Reviewed,RecName: Full=MHC class I polypeptide-related ...,MICA_HUMAN,"[(SIGNAL, 1, 23, , ), (CHAIN, 24, 383, MHC cla...",Name=MICA {ECO:0000312|EMBL:CAI41907.1}; Synon...,...,,Homo sapiens (Human).,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",1,[<Bio.SwissProt.Reference object at 0x7fc1cdb3...,"(383, 42915, 1FE084813DDA13A8)",MGLGPVFLLLAGIFPFAPPGAAAEPHSLRYNLTVLSWDGSVQSGFL...,383,"(01-NOV-1996, 1)",[9606]

In [439]:
len(list(df[df_acc_len == 128].accessions)[0])

128

In [440]:
def func(row):
    return len(row.taxonomy_id)
df_tax_len = df.apply(func, axis=1);

In [443]:
df_tax_len.max() # Only 1 taxonomy per row

1

In [450]:
# df[evidence_series].head()

In [449]:
df[:1]

,accessions,annotation_update,comments,created,cross_references,data_class,description,entry_name,features,gene_name,...,organelle,organism,organism_classification,protein_existence,references,seqinfo,sequence,sequence_length,sequence_update,taxonomy_id
primary_accession,,,,,,,,,,,,,,,,,,,,,
Q6GZX4,[Q6GZX4],"(17-FEB-2016, 31)",[FUNCTION: Transcription activation. {ECO:0000...,"(28-JUN-2011, 0)","[(EMBL, AY548484, AAT09660.1, -, Genomic_DNA),...",Reviewed,RecName: Full=Putative transcription factor 001R;,001R_FRG3G,"[(CHAIN, 1, 256, Putative transcription factor...",ORFNames=FV3-001R;,...,,Frog virus 3 (isolate Goorha) (FV-3).,"[Viruses, dsDNA viruses, no RNA stage, Iridovi...",4,[<Bio.SwissProt.Reference object at 0x7fc1fdca...,"(256, 29735, B4840739BF7D4121)",MAFSAEDVLKEYDRRRRMEALLLSLYYPNDRKLLDYKEWSPPRVQV...,256,"(19-JUL-2004, 1)",[654924]

In [ ]:
# TODO 
# aggregate df_go to have 
acc : Go1 Go2 ... GoN
combine with seq:
acc, seq, Go1 Go2 .. GON
combine with Tax: 
tax, acc, seq, Go1 Go2 .. GON
combine with Taxes: 
tax1 tax2 ... taxN, seq, Go1 Go2 .. GON
combine with GO_ids: 
tax1 tax2 ... taxN, seq, Go1_1 GO1_2 .. GON

Feed into the NN with different options and see which one works best
### Put all codes into one python function ###

In [473]:
df_go_agg = df_go.groupby('accession').aggregate(lambda s: ' '.join(s))

In [475]:
len(df_go_agg)

66841

In [482]:
df_go_agg['seq'] =  df_go_agg.apply(lambda row: df_cafa_train.loc[row.name], axis=1)

In [483]:
df_go_agg.head()

,GO,domain,seq
accession,,,
A0A060X6Z0,GO:0070852 GO:0043204 GO:0004511,C C F,MPISSSSSSSTKSMRRAASELERSDSVTSPRFIGRRQSLIEDARKE...
A0A068FIK2,GO:0055028 GO:0005737,C C,MEVGGGSEECCVKVAVHVRPLIGDEKVQGCKDCVTVIPGKPQVQIG...
A0A075F932,GO:0048609 GO:0046883,P P,MVSESHHEALAAPPATTVAAAPPSNVTEPASPGGGGGKEDAFSKLK...
A0A078CGE6,GO:0005730 GO:0004674 GO:0046777 GO:0051302,C F P P,MARQMTSSQFHKSKTLDNKYMLGDEIGKGAYGRVYIGLDLENGDFV...
A0A086F3E3,GO:0022841 GO:0071805,F P,MTKGRLEAFSDGVLAIIITIMVLELKVPEGSSWASLQPILPRFLAY...

In [542]:
def fetch_tax(row):
    try:
        sprot_row = df.loc[row.name, 'taxonomy_id'][0]
    except:
        try:
            # for those accessions which are not the primary accessions, we look into other accessions that they have
            sprot_row = df[[row.name in s for s in df.accessions]].iloc[0].taxonomy_id[0]
        except:
            print(row)
            sprot_row = ''
    if len(sprot_row) > 0:
        return sprot_row
    return None
df_go_agg['taxonomy_id'] = df_go_agg.apply(fetch_tax, axis=1)

GO             GO:0072562 GO:0005886 GO:0004252 GO:0006956 GO...
domain                                         C C F P P P P P P
seq            MEAPAQLLFLLLLWLPDTTREIVMTQSPPTLSLSPGERVTLSCRAS...
taxonomy_id                                                 None
Name: P04434, dtype: object

In [541]:
df_go_agg.taxonomy_id.isnull().sum()

1

In [546]:
df[['P04434' in s for s in df.accessions]] # 'P04434' was deleted from swiss-prot in November 2, 2016

Empty DataFrame
Columns: [accessions, annotation_update, comments, created, cross_references, data_class, description, entry_name, features, gene_name, host_organism, host_taxonomy_id, keywords, molecule_type, organelle, organism, organism_classification, protein_existence, references, seqinfo, sequence, sequence_length, sequence_update, taxonomy_id]
Index: []

[0 rows x 24 columns]

In [551]:
df_go_agg.head(1)

,GO,domain,seq,taxonomy_id
accession,,,,
A0A060X6Z0,GO:0070852 GO:0043204 GO:0004511,C C F,MPISSSSSSSTKSMRRAASELERSDSVTSPRFIGRRQSLIEDARKE...,8022

In [ ]:
# this is based on the CAFA provided training, I can create my own training by just using the Evidences

In [552]:
obo_go_file = 'gene_ontology_edit.obo.2016-06-01'
obo_go_path = '../data/cafa3/Gene Ontology Hirarchy/'

obo_tax_file = 'ncbitaxon.obo'
obo_tax_path = '../data/cafa3/Gene Ontology Hirarchy/'
from goatools import obo_parser
p_tax = obo_parser.GODag(obo_tax_path + obo_tax_file)
p_go = obo_parser.GODag(obo_go_path + obo_go_file)

../data/cafa3/Gene Ontology Hirarchy/ncbitaxon.obo: fmt(1.2) rel(2018-07-27) 1,877,499 GO Terms
../data/cafa3/Gene Ontology Hirarchy/gene_ontology_edit.obo.2016-06-01: fmt(1.2) rel(2016-05-31) 44,636 GO Terms

In [645]:
p_go['GO:0000001'].namespace

'biological_process'

In [555]:
p_go['GO:0000001'].get_all_parents()

{'GO:0006996',
 'GO:0007005',
 'GO:0008150',
 'GO:0009987',
 'GO:0016043',
 'GO:0044699',
 'GO:0044763',
 'GO:0048308',
 'GO:0048311',
 'GO:0051179',
 'GO:0051640',
 'GO:0051641',
 'GO:0051646',
 'GO:0071840',
 'GO:1902578',
 'GO:1902580',
 'GO:1902589'}

In [554]:
p_tax['NCBITaxon:10'].get_all_parents()

{'NCBITaxon:1',
 'NCBITaxon:1224',
 'NCBITaxon:1236',
 'NCBITaxon:131567',
 'NCBITaxon:1706369',
 'NCBITaxon:1706371',
 'NCBITaxon:2'}

In [587]:
def add_GO_ancesstors_C(row):
    go_ans = set()
    go_list = row.GO.split(' ')
    domain_list = row.domain.split(' ')
    for i in range(len(go_list)):
        go = go_list[i]
        domain = domain_list[i]
        if domain == 'C': # TODO: use p_go[go].namespace == 'biological_process', ...
            try :
                go_ans |= p_go[go].get_all_parents()
            except:
                print(f"errror in fetching {go}")
    return go_ans
        
            
            
df_go_agg['GO_ancestors_C'] = df_go_agg.apply(add_GO_ancesstors_C, axis=1)

In [588]:
def add_GO_ancesstors_P(row):
    go_ans = set()
    go_list = row.GO.split(' ')
    domain_list = row.domain.split(' ')
    for i in range(len(go_list)):
        go = go_list[i]
        domain = domain_list[i]
        if domain == 'P':
            try :
                go_ans |= p_go[go].get_all_parents()
            except:
                print(f"errror in fetching {go}")
    return go_ans
        
            
            
df_go_agg['GO_ancestors_P'] = df_go_agg.apply(add_GO_ancesstors_P, axis=1)

In [589]:
def add_GO_ancesstors_F(row):
    go_ans = set()
    go_list = row.GO.split(' ')
    domain_list = row.domain.split(' ')
    for i in range(len(go_list)):
        go = go_list[i]
        domain = domain_list[i]
        if domain == 'F':
            try :
                go_ans |= p_go[go].get_all_parents()
            except:
                print(f"errror in fetching {go}")
    return go_ans
        
            
            
df_go_agg['GO_ancestors_F'] = df_go_agg.apply(add_GO_ancesstors_F, axis=1)

In [590]:
df_go_agg.head(1)

,GO,domain,seq,taxonomy_id,GO_ancestors_C,GO_ancestors_P,GO_ancestors_F
accession,,,,,,,
A0A060X6Z0,GO:0070852 GO:0043204 GO:0004511,C C F,MPISSSSSSSTKSMRRAASELERSDSVTSPRFIGRRQSLIEDARKE...,8022,"{GO:0097458, GO:0042995, GO:0005575, GO:004300...",{},"{GO:0016705, GO:0016714, GO:0004497, GO:000382..."

In [607]:
df_go_agg.isnull().sum()

GO                0
domain            0
seq               0
taxonomy_id       1
GO_ancestors_C    0
GO_ancestors_P    0
GO_ancestors_F    0
dtype: int64

In [608]:
df_go_agg.dropna(subset=['taxonomy_id'], inplace=True)

In [610]:
def add_Tax_ancesstors(row):
    taxon_name = 'NCBITaxon:' + str(row.taxonomy_id)
    try :
        return p_tax[taxon_name].get_all_parents()
    except:
        print(f"errror in fetching {row.taxonomy_id}")
    return None
df_go_agg['Tax_ancestors'] = df_go_agg.apply(add_Tax_ancesstors, axis=1)

In [617]:
df_go_agg.head(1)

,GO,domain,seq,taxonomy_id,GO_ancestors_C,GO_ancestors_P,GO_ancestors_F,Tax_ancestors
accession,,,,,,,,
A0A060X6Z0,GO:0070852 GO:0043204 GO:0004511,C C F,MPISSSSSSSTKSMRRAASELERSDSVTSPRFIGRRQSLIEDARKE...,8022,"{GO:0097458, GO:0042995, GO:0005575, GO:004300...",{},"{GO:0016705, GO:0016714, GO:0004497, GO:000382...","{NCBITaxon:131567, NCBITaxon:33154, NCBITaxon:..."

In [619]:
pickle.dump(df_go_agg, open('train_df', 'wb'))

In [641]:
def seq_taxons_combine(row):
    return ' '.join(row.Tax_ancestors).replace('NCBITaxon:', '') + ' ' + row.taxonomy_id + ' [TaxonsEnd] ' + row.seq
df_go_agg['seq_taxons'] = df_go_agg.apply(seq_taxons_combine, axis=1)

def seq_tax_combine(row):
    return row.taxonomy_id + ' ' + row.seq
df_go_agg['seq_tax'] = df_go_agg.apply(seq_tax_combine, axis=1)

In [643]:
pickle.dump(df_go_agg, open('train_df', 'wb'))